# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build outputs
dist
dist-ssr

# Local env files
.env
.env.local
.env.*.local

# Vite cache (optional but good)
.vite

# OS files
.DS_Store

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea

# TypeScript build info (optional)
*.tsbuildinfo

# Misc system files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?